# Property 전세
[서울 열린데이터 광장 - 서울시 부동산 전월세가 정보](https://data.seoul.go.kr/dataList/OA-21276/S/1/datasetView.do)

- id - auto_increment
- district_id - 자치구코드
- address - 자치구명 법정동명 본번 부번
- name - 건물명
- floor - 층
- price - 보증금(만원)
- size - 임대면적(m^2) / 3.3
- type - 건물용도
- trade_type - LEASE

In [1]:
import pandas as pd

In [2]:
# column 다 보이게
pd.options.display.max_columns = None

In [3]:
df = pd.read_csv('data/seoul-lease-2024.csv', encoding='EUC-KR')
df.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,층,계약일,전월세 구분,임대면적(㎡),보증금(만원),임대료(만원),건물명,건축년도,건물용도,계약기간,신규갱신여부,계약갱신권사용여부,종전 보증금,종전 임대료
0,2024,11170,용산구,10900,청파동1가,1.0,대지,1.0,17.0,2.0,20240812,전세,50.34,25000,0,(1-17),2008.0,연립다세대,24.09~26.09,신규,NaN,NaN,NaN
1,2024,11440,마포구,12000,서교동,1.0,대지,399.0,6.0,3.0,20240812,전세,29.08,10400,0,studioville서교,2002.0,연립다세대,24.09~25.08,갱신,NaN,10400.0,NaN
2,2024,11710,송파구,10400,송파동,1.0,대지,118.0,16.0,3.0,20240812,월세,43.78,20800,5,(118-16),2004.0,연립다세대,24.09~26.09,신규,NaN,NaN,NaN
3,2024,11710,송파구,10100,잠실동,1.0,대지,238.0,13.0,4.0,20240812,월세,24.75,10000,27,goodpeope(238-13),2001.0,연립다세대,24.09~26.09,신규,NaN,NaN,NaN
4,2024,11620,관악구,10100,봉천동,1.0,대지,1533.0,25.0,2.0,20240812,전세,64.76,23100,0,(1533-25),1986.0,연립다세대,24.09~26.09,갱신,○,23100.0,NaN

In [4]:
df.columns

Index(['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번',
       '층', '계약일', '전월세 구분', '임대면적(㎡)', '보증금(만원)', '임대료(만원)', '건물명', '건축년도',
       '건물용도', '계약기간', '신규갱신여부', '계약갱신권사용여부', '종전 보증금', '종전 임대료'],
      dtype='object')

In [5]:
# 1차적으로 필요없는 column 삭제
df.drop(['접수연도', '법정동코드', '지번구분', '지번구분명', '계약일', '임대료(만원)', '건축년도', '계약기간', '신규갱신여부', '계약갱신권사용여부', '종전 보증금', '종전 임대료'], axis=1, inplace=True)

In [6]:
df.head()

,자치구코드,자치구명,법정동명,본번,부번,층,전월세 구분,임대면적(㎡),보증금(만원),건물명,건물용도
0,11170,용산구,청파동1가,1.0,17.0,2.0,전세,50.34,25000,(1-17),연립다세대
1,11440,마포구,서교동,399.0,6.0,3.0,전세,29.08,10400,studioville서교,연립다세대
2,11710,송파구,송파동,118.0,16.0,3.0,월세,43.78,20800,(118-16),연립다세대
3,11710,송파구,잠실동,238.0,13.0,4.0,월세,24.75,10000,goodpeope(238-13),연립다세대
4,11620,관악구,봉천동,1533.0,25.0,2.0,전세,64.76,23100,(1533-25),연립다세대

In [7]:
# '전월세 구분' 열에서 '전세'인 행만 남기기
df = df.loc[df['전월세 구분'] == '전세']

In [8]:
df.head()

,자치구코드,자치구명,법정동명,본번,부번,층,전월세 구분,임대면적(㎡),보증금(만원),건물명,건물용도
0,11170,용산구,청파동1가,1.0,17.0,2.0,전세,50.34,25000,(1-17),연립다세대
1,11440,마포구,서교동,399.0,6.0,3.0,전세,29.08,10400,studioville서교,연립다세대
4,11620,관악구,봉천동,1533.0,25.0,2.0,전세,64.76,23100,(1533-25),연립다세대
5,11440,마포구,도화동,36.0,0.0,11.0,전세,20.25,14333,고려아카데미텔,오피스텔
6,11230,동대문구,회기동,103.0,272.0,3.0,전세,30.82,18396,(103-272),연립다세대

In [9]:
# 결측치 제거
df = df.dropna()

In [10]:
# address 추출
df['address'] = df['자치구명'] + " " + df['법정동명'] + " " +  df['본번'].astype(int).astype('string') + "-" + df['부번'].astype(int).astype('string')

In [11]:
df.head()

,자치구코드,자치구명,법정동명,본번,부번,층,전월세 구분,임대면적(㎡),보증금(만원),건물명,건물용도,address
0,11170,용산구,청파동1가,1.0,17.0,2.0,전세,50.34,25000,(1-17),연립다세대,용산구 청파동1가 1-17
1,11440,마포구,서교동,399.0,6.0,3.0,전세,29.08,10400,studioville서교,연립다세대,마포구 서교동 399-6
4,11620,관악구,봉천동,1533.0,25.0,2.0,전세,64.76,23100,(1533-25),연립다세대,관악구 봉천동 1533-25
5,11440,마포구,도화동,36.0,0.0,11.0,전세,20.25,14333,고려아카데미텔,오피스텔,마포구 도화동 36-0
6,11230,동대문구,회기동,103.0,272.0,3.0,전세,30.82,18396,(103-272),연립다세대,동대문구 회기동 103-272

In [12]:
# column명 변경 & 필요 없는 column 제거
df.rename(columns={'자치구코드':'district_id', '건물명':'building_name', '보증금(만원)':'price', '임대면적(㎡)':'size', '층':'floor', '건물용도':'type'}, inplace=True)
df.drop(['자치구명', '법정동명', '본번', '부번', '전월세 구분'], axis=1, inplace=True)

In [13]:
df['trade_type']='LEASE'

In [14]:
# 면적 -> 평수
df['size'] = df['size'].astype('float') / 3.3

In [15]:
df['floor'] = df['floor'].astype('int')

In [16]:
df.head()

,district_id,floor,size,price,building_name,type,address,trade_type
0,11170,2,15.254545,25000,(1-17),연립다세대,용산구 청파동1가 1-17,LEASE
1,11440,3,8.812121,10400,studioville서교,연립다세대,마포구 서교동 399-6,LEASE
4,11620,2,19.624242,23100,(1533-25),연립다세대,관악구 봉천동 1533-25,LEASE
5,11440,11,6.136364,14333,고려아카데미텔,오피스텔,마포구 도화동 36-0,LEASE
6,11230,3,9.339394,18396,(103-272),연립다세대,동대문구 회기동 103-272,LEASE

In [17]:
df['type'].value_counts()

type
아파트      76107
연립다세대    36709
오피스텔     15962
Name: count, dtype: int64

In [18]:
def changeTypeName(type):
  if type == '아파트':
    return 'APARTMENT'
  elif type == '연립다세대':
    return 'MULTIPLEX_HOUSING'
  elif type == '오피스텔':
    return 'OFFICETEL'

In [19]:
df['type'] = df['type'].apply(changeTypeName)

In [20]:
df.head()

,district_id,floor,size,price,building_name,type,address,trade_type
0,11170,2,15.254545,25000,(1-17),MULTIPLEX_HOUSING,용산구 청파동1가 1-17,LEASE
1,11440,3,8.812121,10400,studioville서교,MULTIPLEX_HOUSING,마포구 서교동 399-6,LEASE
4,11620,2,19.624242,23100,(1533-25),MULTIPLEX_HOUSING,관악구 봉천동 1533-25,LEASE
5,11440,11,6.136364,14333,고려아카데미텔,OFFICETEL,마포구 도화동 36-0,LEASE
6,11230,3,9.339394,18396,(103-272),MULTIPLEX_HOUSING,동대문구 회기동 103-272,LEASE

In [23]:
df= df.loc[~df['building_name'].str.startswith('(')]

In [24]:
df.head()

,district_id,floor,size,price,building_name,type,address,trade_type
1,11440,3,8.812121,10400,studioville서교,MULTIPLEX_HOUSING,마포구 서교동 399-6,LEASE
5,11440,11,6.136364,14333,고려아카데미텔,OFFICETEL,마포구 도화동 36-0,LEASE
17,11710,7,38.454545,61000,2차한양아파트,APARTMENT,송파구 송파동 151-0,LEASE
19,11500,-1,16.545455,8700,궁전아트빌라,MULTIPLEX_HOUSING,강서구 화곡동 452-4,LEASE
27,11680,5,18.062424,100000,e-편한세상,APARTMENT,강남구 역삼동 755-4,LEASE

## 데이터 DB에 넣기

In [25]:
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

In [26]:
load_dotenv()

username= os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
database = os.getenv("DB_DATABASE")

engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

In [29]:
tableName = 'properties'

In [30]:
df.to_sql(name=tableName, con=engine, if_exists='append', index=False)

123315