# Property 매매
[서울 열린데이터 광장 - 서울시 부동산 실거래가 정보](https://data.seoul.go.kr/dataList/OA-21275/S/1/datasetView.do)

- id - auto_increment
- district_id - 자치구코드
- address - 자치구명 법정동명 본번 부번
- name - 건물명
- floor - 층
- price - 물건금액(만원)
- size - 건물면적(m^2) / 3.3
- type - 건물용도
- trade_type - DEAL

In [1]:
import pandas as pd

In [2]:
# column 다 보이게
pd.options.display.max_columns = None

In [3]:
df = pd.read_csv('data/seoul-deal-2024.csv', encoding='EUC-KR')
df.head()

/var/folders/by/whxzj3ld0zz4d056gwdb3r380000gn/T/ipykernel_99308/1411452313.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/seoul-deal-2024.csv', encoding='EUC-KR')

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,계약일,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2024,11620,관악구,10200,신림동,1.0,대지,105.0,41.0,그린빌라(105-41),20240812,30500,55.38,28.0,3.0,NaN,NaN,1995.0,연립다세대,중개거래,서울 관악구
1,2024,11620,관악구,10200,신림동,1.0,대지,562.0,6.0,프라임빌,20240812,37500,64.28,35.0,3.0,NaN,NaN,2011.0,연립다세대,중개거래,서울 동작구
2,2024,11530,구로구,10800,오류동,1.0,대지,150.0,42.0,길훈,20240812,27000,53.94,0.0,1.0,NaN,NaN,1986.0,아파트,중개거래,서울 구로구
3,2024,11710,송파구,11200,오금동,1.0,대지,164.0,0.0,우창,20240812,71000,76.42,0.0,6.0,NaN,NaN,1985.0,아파트,직거래,NaN
4,2024,11545,금천구,10200,독산동,1.0,대지,904.0,9.0,미소그린빌,20240812,32500,56.73,37.0,2.0,NaN,NaN,2016.0,연립다세대,중개거래,"서울 관악구, 서울 동작구"

In [4]:
df.columns

Index(['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번',
       '건물명', '계약일', '물건금액(만원)', '건물면적(㎡)', '토지면적(㎡)', '층', '권리구분', '취소일',
       '건축년도', '건물용도', '신고구분', '신고한 개업공인중개사 시군구명'],
      dtype='object')

In [5]:
# 1차적으로 필요없는 column 삭제
df.drop(['접수연도', '법정동코드', '지번구분', '지번구분명', '계약일', '토지면적(㎡)', '권리구분', '취소일', '건축년도', '신고구분', '신고한 개업공인중개사 시군구명'], axis=1, inplace=True)

In [6]:
df.head()

   자치구코드 자치구명 법정동명     본번    부번           건물명  물건금액(만원)  건물면적(㎡)    층   건물용도
0  11620  관악구  신림동  105.0  41.0  그린빌라(105-41)     30500    55.38  3.0  연립다세대
1  11620  관악구  신림동  562.0   6.0          프라임빌     37500    64.28  3.0  연립다세대
2  11530  구로구  오류동  150.0  42.0            길훈     27000    53.94  1.0    아파트
3  11710  송파구  오금동  164.0   0.0            우창     71000    76.42  6.0    아파트
4  11545  금천구  독산동  904.0   9.0         미소그린빌     32500    56.73  2.0  연립다세대

In [7]:
# 결측치 제거
df = df.dropna()

In [8]:
# address 추출
df['address'] = df['자치구명'] + " " + df['법정동명'] + " " +  df['본번'].astype(int).astype('string') + "-" + df['부번'].astype(int).astype('string')

In [9]:
df.head()

,자치구코드,자치구명,법정동명,본번,부번,건물명,물건금액(만원),건물면적(㎡),층,건물용도,address
0,11620,관악구,신림동,105.0,41.0,그린빌라(105-41),30500,55.38,3.0,연립다세대,관악구 신림동 105-41
1,11620,관악구,신림동,562.0,6.0,프라임빌,37500,64.28,3.0,연립다세대,관악구 신림동 562-6
2,11530,구로구,오류동,150.0,42.0,길훈,27000,53.94,1.0,아파트,구로구 오류동 150-42
3,11710,송파구,오금동,164.0,0.0,우창,71000,76.42,6.0,아파트,송파구 오금동 164-0
4,11545,금천구,독산동,904.0,9.0,미소그린빌,32500,56.73,2.0,연립다세대,금천구 독산동 904-9

In [10]:
# column명 변경 & 필요 없는 column 제거
df.rename(columns={'자치구코드':'district_id', '건물명':'building_name', '물건금액(만원)':'price', '건물면적(㎡)':'size', '층':'floor', '건물용도':'type'}, inplace=True)
df.drop(['자치구명', '법정동명', '본번', '부번'], axis=1, inplace=True)

In [11]:
df['trade_type']='DEAL'

In [12]:
df.head()

,district_id,building_name,price,size,floor,type,address,trade_type
0,11620,그린빌라(105-41),30500,55.38,3.0,연립다세대,관악구 신림동 105-41,DEAL
1,11620,프라임빌,37500,64.28,3.0,연립다세대,관악구 신림동 562-6,DEAL
2,11530,길훈,27000,53.94,1.0,아파트,구로구 오류동 150-42,DEAL
3,11710,우창,71000,76.42,6.0,아파트,송파구 오금동 164-0,DEAL
4,11545,미소그린빌,32500,56.73,2.0,연립다세대,금천구 독산동 904-9,DEAL

In [13]:
# 면적 -> 평수
df['size'] = df['size'].astype('float') / 3.3

In [14]:
df['floor'] = df['floor'].astype('int')

In [15]:
df.head()

,district_id,building_name,price,size,floor,type,address,trade_type
0,11620,그린빌라(105-41),30500,16.781818,3,연립다세대,관악구 신림동 105-41,DEAL
1,11620,프라임빌,37500,19.478788,3,연립다세대,관악구 신림동 562-6,DEAL
2,11530,길훈,27000,16.345455,1,아파트,구로구 오류동 150-42,DEAL
3,11710,우창,71000,23.157576,6,아파트,송파구 오금동 164-0,DEAL
4,11545,미소그린빌,32500,17.190909,2,연립다세대,금천구 독산동 904-9,DEAL

In [16]:
df['type'].value_counts()

type
아파트      35322
연립다세대    16083
오피스텔      6023
Name: count, dtype: int64

In [17]:
def changeTypeName(type):
  if type == '아파트':
    return 'APARTMENT'
  elif type == '연립다세대':
    return 'MULTIPLEX_HOUSING'
  elif type == '오피스텔':
    return 'OFFICETEL'

In [18]:
df['type'] = df['type'].apply(changeTypeName)

In [19]:
df.head()

,district_id,building_name,price,size,floor,type,address,trade_type
0,11620,그린빌라(105-41),30500,16.781818,3,MULTIPLEX_HOUSING,관악구 신림동 105-41,DEAL
1,11620,프라임빌,37500,19.478788,3,MULTIPLEX_HOUSING,관악구 신림동 562-6,DEAL
2,11530,길훈,27000,16.345455,1,APARTMENT,구로구 오류동 150-42,DEAL
3,11710,우창,71000,23.157576,6,APARTMENT,송파구 오금동 164-0,DEAL
4,11545,미소그린빌,32500,17.190909,2,MULTIPLEX_HOUSING,금천구 독산동 904-9,DEAL

In [20]:
df= df.loc[~df['building_name'].str.startswith('(')]

In [21]:
df.head()

,district_id,building_name,price,size,floor,type,address,trade_type
0,11620,그린빌라(105-41),30500,16.781818,3,MULTIPLEX_HOUSING,관악구 신림동 105-41,DEAL
1,11620,프라임빌,37500,19.478788,3,MULTIPLEX_HOUSING,관악구 신림동 562-6,DEAL
2,11530,길훈,27000,16.345455,1,APARTMENT,구로구 오류동 150-42,DEAL
3,11710,우창,71000,23.157576,6,APARTMENT,송파구 오금동 164-0,DEAL
4,11545,미소그린빌,32500,17.190909,2,MULTIPLEX_HOUSING,금천구 독산동 904-9,DEAL

## 데이터 DB에 넣기

In [22]:
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

In [23]:
load_dotenv()

username= os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
database = os.getenv("DB_DATABASE")

engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

In [24]:
tableName = 'properties'

In [25]:
df.to_sql(name=tableName, con=engine, if_exists='append', index=False)

55827